@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
.header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-right: 30px; */
  background-color: #fffef0;
}

.images {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side_header_text_two a {
  text-decoration: underline;
  text-decoration-color: #F8CE58;
  color: #F8CE58;
}

.side {
  width: 40%;
  height: 100%;
  background-color: #262626;
}

.side_header {
  padding: 220px 40px 20px 30px;
}

.side_header_text_one span {
  color: #F8CE58;
}

.side_header_text_one {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.side_header_text_two {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
}

.indicators {
  display: flex;
  gap: 10px;
  flex-direction: row;
  padding: 20px;
  border-bottom: 1px solid rgba(118, 119, 121, 0.2);
}

.active {
  width: 20px;
  height: 20px;
  display: flex;
  border-radius: 50%;
  background-color: #F8CE58;
}

.indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #F8CE58;
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  border-bottom: 1px solid rgba(118, 119, 121, 0.2);

}

.footer_1 {
  display: flex;
  padding: 20px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.footer_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-right: 20px;
}

.arrows {
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowForward {
  height: 150px;
  z-index: 20;
  width: 60px;
  /* position: absolute; */
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images__ {
  width: 65%;
  height: 100%;
}

.footer_text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .header {
    height: 50px;
  }

  .images {
    flex-direction: column;
    /* margin-top: -30px; */
  }

  .side_header_text_one {
    font-size: 25px;
  }

  .side_header_text_two {
    font-size: 14px;
  }

  .side_header {
    padding: 40px 20px 0px 30px;
  }

  .side {
    width: 100%;
    height: 50%;
  }

  .images__ {
    width: 100%;
    height: 50%;
  }

  .footer_2 {
    padding: 10px 20px;
    font-size: 15px;
  }

  .indicators {
    /* margin-top: -30px; */
  }

}

@media (prefers-color-scheme: dark) {

  
  
  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}







#app {
  height: 100%
}



.swiper {
  width: 100%;
  height: 100%;
  background: #000;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.title {
  font-size: 41px;
  font-weight: 300;
}

.subtitle {
  font-size: 21px;
}

.text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

.swiper_ {
  height: 70vh;
}

.cont_ {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flash {
  padding-top: 30px;
  font-family: 'Poppins', sans-serif;

}

.preloader_parent {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(248, 206, 88, 0.5);

}

.preloader_ {
  position: absolute;
  margin: 50px auto;
  left: 0;
  right: 0;
  width: 88px;
}
.preloader_ ul {
  margin: 0;
  list-style: none;
  width: 88px;
  height: 63px;
  position: relative;
  padding: 0;
  height: 10px;
}
.preloader_ ul li {
  position: absolute;
  width: 2px;
  height: 0;
  background-color: rgb(0, 0, 0);
  bottom: 0;
}
.preloader_ li:nth-child(1) {
  left: 0;
  animation: cssload-sequence1 1.15s ease infinite 0;
  -o-animation: cssload-sequence1 1.15s ease infinite 0;
  -ms-animation: cssload-sequence1 1.15s ease infinite 0;
  -webkit-animation: cssload-sequence1 1.15s ease infinite 0;
  -moz-animation: cssload-sequence1 1.15s ease infinite 0;
}
.preloader_ li:nth-child(2) {
  left: 15px;
  animation: cssload-sequence2 1.15s ease infinite 0.12s;
  -o-animation: cssload-sequence2 1.15s ease infinite 0.12s;
  -ms-animation: cssload-sequence2 1.15s ease infinite 0.12s;
  -webkit-animation: cssload-sequence2 1.15s ease infinite 0.12s;
  -moz-animation: cssload-sequence2 1.15s ease infinite 0.12s;
}
.preloader_ li:nth-child(3) {
  left: 29px;
  animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
  -o-animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
  -ms-animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
  -webkit-animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
  -moz-animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
}
.preloader_ li:nth-child(4) {
  left: 44px;
  animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
  -o-animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
  -ms-animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
  -webkit-animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
  -moz-animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
}
.preloader_ li:nth-child(5) {
  left: 58px;
  animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
  -o-animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
  -ms-animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
  -webkit-animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
  -moz-animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
}
.preloader_ li:nth-child(6) {
  left: 73px;
  animation: cssload-sequence2 1.15s ease infinite 0.58s;
  -o-animation: cssload-sequence2 1.15s ease infinite 0.58s;
  -ms-animation: cssload-sequence2 1.15s ease infinite 0.58s;
  -webkit-animation: cssload-sequence2 1.15s ease infinite 0.58s;
  -moz-animation: cssload-sequence2 1.15s ease infinite 0.58s;
}

.preloader_ li:nth-child(7) {
  left: 73px;
  animation: cssload-sequence2 1.15s ease infinite 0.58s;
  -o-animation: cssload-sequence2 1.15s ease infinite 0.58s;
  -ms-animation: cssload-sequence2 1.15s ease infinite 0.58s;
  -webkit-animation: cssload-sequence2 1.15s ease infinite 0.58s;
  -moz-animation: cssload-sequence2 1.15s ease infinite 0.58s;
}
@keyframes cssload-sequence1 {
  0% {
    height: 10px;
  }
  50% {
    height: 49px;
  }
  100% {
    height: 10px;
  }
}
@-o-keyframes cssload-sequence1 {
  0% {
    height: 10px;
  }
  50% {
    height: 49px;
  }
  100% {
    height: 10px;
  }
}
@-ms-keyframes cssload-sequence1 {
  0% {
    height: 10px;
  }
  50% {
    height: 49px;
  }
  100% {
    height: 10px;
  }
}
@-webkit-keyframes cssload-sequence1 {
  0% {
    height: 10px;
  }
  50% {
    height: 49px;
  }
  100% {
    height: 10px;
  }
}
@-moz-keyframes cssload-sequence1 {
  0% {
    height: 10px;
  }
  50% {
    height: 49px;
  }
  100% {
    height: 10px;
  }
}
@keyframes cssload-sequence2 {
  0% {
    height: 19px;
  }
  50% {
    height: 63px;
  }
  100% {
    height: 19px;
  }
}
@-o-keyframes cssload-sequence2 {
  0% {
    height: 19px;
  }
  50% {
    height: 63px;
  }
  100% {
    height: 19px;
  }
}
@-ms-keyframes cssload-sequence2 {
  0% {
    height: 19px;
  }
  50% {
    height: 63px;
  }
  100% {
    height: 19px;
  }
}
@-webkit-keyframes cssload-sequence2 {
  0% {
    height: 19px;
  }
  50% {
    height: 63px;
  }
  100% {
    height: 19px;
  }
}
@-moz-keyframes cssload-sequence2 {
  0% {
    height: 19px;
  }
  50% {
    height: 63px;
  }
  100% {
    height: 19px;
  }
}